@model IEnumerable<Vehicle_Sales.Models.VehicleModel>

@{
    ViewBag.Title = "DisplayResults";
}

<h2>DisplayResults</h2>

<h4 style="background-color:#cdcdcd">@ViewBag.SuperSalesMessage</h4>

<p>
    @Html.ActionLink("Upload Another File", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DealNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealershipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DealNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealershipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle)
        </td>
        <td>
            CAD @item.Price.ToString("C") 
        </td>
        <td>
            @item.Date.ToString("MM/dd/yyyy")
        </td>
   
    </tr>
}

</table>
